# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated bazel symlinks.
/bazel-*

# Bazel git
*~
.*.swp
ContainerFS/.classpath
ContainerFS/.factorypath
ContainerFS/.idea/
ContainerFS/.project
ContainerFS/.settings
ContainerFS/WORKSPACE.user.bzl
ContainerFS/bazel-*
ContainerFS/output/
img*

*.img
imgGen/go
imgGen/go1.12.9.linux-amd64.tar.gz
imgGen/go1.12.9.linux-amd64.tar.gz.1
imgGen/go1.12.9.linux-amd64.tar.gz.2
